<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <title>Alterar</title>
        <link rel="stylesheet" href="css/alterarSenha.css">
        <link rel="shortcut icon" href="img/titleIcon.ico">


    </head>


    <body>
        
        <form>

            <img src="img/logo2.png" alt= "error" width=300 height=90/> 

            <input type="password" name="senhaNova" placeholder="Nova Senha" required="required">
            <input type="password" name="confirmaSenha" placeholder="confirmar nova senha" required="required">
            <input type="submit"   name="" placeholder="Login">

        </form>


    </body>


</html>