<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="css/login.css">

    </head>

    <body>
        
       

        <form>

            <img src="img/logo2.png" alt= "error" width=300 height=90/> 
            
            <input type="text" name="" placeholder="Siape/Num. Matricula/CPF">
            <input type="password" name="" placeholder="Senha"> 
            <input type="submit" name="" placeholder="Login">

            <a href="cadastro.html">Criar Cadastro</a>

            <br><br>

            <a href="alterarSenha.html">Alterar Senha</a>  

        </form>

    </body>

</html>