<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="css/login.css">
        <link rel="shortcut icon" href="img/titleIcon.ico">


    </head>

    <body>
        
        <div id="login">

            <form method="POST" action="">

                <img src="img/logo2.png" alt= "error" width=300 height=90/> 
                
                <input type="text" name="" placeholder="Siape/Num. Matricula/CPF" required="required">
                <input type="password" name="" placeholder="Senha" required="required"> 
                <input type="submit" name="" placeholder="Login">

                <a href="cadastro.html">Criar Cadastro</a>

                <br><br>

                <a href="alterarSenha.html">Alterar Senha</a>  

            </form>
        
        </div>

    </body>

</html>