body{

    margin: 0;  /* espaço fora de uma caixa */
    padding: 0; /* espaço dentro de uma caixa */
    font-family: sans-serif; 
    background: #e0ded9;
    
}

img{

    width: 100px;
    height: 100px;

}

form{

    width: 300px;
    height: 300px;
    padding: 40px;
    position: absolute;
    border: 1.5px solid black;
    top: 50%; /*centralizando a box */
    left: 50%; /* centralizando a box */
    transform: translate(-50%,-50%); /*centralizando a box */
    background: white;
    text-align: center;
    border-radius: 25px; /* deixando as bordas arredondadas */
    border-color: black;

}

input[name="senhaNova"],input[name="confirmaSenha"]{

    background: none;
    display: block; /* centralizando input na box */
    margin: 20px auto; /* margem entre os inputs */
    text-align: left;
    color: black;
    border: 1.5px solid black; /* definindo o estilo da borda */
    padding: 14px 10px;
    width: 200px; /* largura dos inputs */
    outline: none; /* caixas que ficam em volta das bordas, deixar oculto */
    transition: 0.50s; /* tempo em que a cor das bordas irá mudar */
    font-size: 14px; /* tamanho da fonte dentro das inputs */
    border-radius: 15px; /* deixando as bordas arredondadas */

}

input[name="senhaNova"]:focus, input[name="confirmaSenha"]:focus{

    width: 200px;
    border-color: #27ae60; /* cor que será usada quando as inputs forem clicadas */

}

input[type="submit"]{

    border: 0;
    background: none;
    display: block; /* centralizando a input */
    margin: 20px auto;
    text-align: center; /* alinhando o texto da input */
    color: black;
    border: 1.5px solid black; /* definindo estilo da borda */
    padding: 14px 40px;
    outline: none;
    transition: 0.30s;
    font-size: 14px;
    border-radius: 30px; /* arredondando as bordas do botão */ 
    cursor: pointer; /* quando o mouse passar por cima, muda a cor */

}

input[type="submit"]:hover{

    border: #27ae60;
    background: #27ae60;

}